@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Webdings';
    src: url('./assets/fonts/Webdings-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    flex: 1;
    overflow-y: auto;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on Hover */
::-webkit-scrollbar-track:hover {
    background: #555;
}

.image-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    cursor: pointer;
    border-radius: 5px;
}